html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1 0 auto; 
}

footer {
    margin-top: auto; /* pushes footer to the bottom when content is short */
}
