@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h2>This site lets you easily manage and explore movies and actors, offering tools to index, view, create, edit, and delete entries.</h2>

    <h2>Movie Pages:</h2>
    <h3>
        Each movie includes key details like title, IMDB link, genre, release year, and poster. 
        The details page also features AI-generated reviews and sentiment analysis, providing insights into the movie's reception, along with a list of actors. 
    </h3>
        
    <h2>Actor Pages:</h2>
    <h3>
        Actor pages showcase their name , age, gender, IMDB link, and photo. 
        You'll also find a list of movies they've starred in, plus AI-generated tweets and sentiment analysis to gauge public opinion.
    </h3>
        
</div>

<section class="site-section-bottom" id="skip-to-content">
    <div id="ua-carousel" class="carousel carousel-home slide">
        <div class="carousel-inner">
            <div class="item active">
                <div class="bg-img bg-center-center" style="background-image: url( '../img/quadaerial01_1920.jpg' );">
                </div> <!-- .bg-img -->
            </div> <!-- .item -->
        </div> <!-- .carousel-inner -->
    </div> <!-- #ua-carousel -->
</section>