@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h3>This site lets you easily manage and explore movies and actors, offering tools to index, view, create, edit, and delete entries.</h3>

    <h2>Movies:</h2>
    <h3>
        The Movies page shows a table with popular movies including their title, genre, release year, a link to their page on IMDB, and the movie poster. 
        On each movie entry, the details button brings you to an individual page for each movie with it's information as well as a list of actors in the database that are in that movie, 
        a table featuring AI-generated reviews and a sentiment analysis for each review, and an overall sentiment analysis for each movie.  
    </h3>
        
    <h2>Actors:</h2>
    <h3>
        The Actors page features a table with famous actors and actresses with their name, gender, age, a link to their IMDB page, and a photo of themself. 
        Each actor's details page includes their information, as well as movies in the databse they star in, a table with AI-generated tweets with a sentiment analysis, and
        an overall sentiment analysis about the actor/actress. 
    </h3>

    <h2>MovieActors:</h2>
    <h3>
        This page contains a many-to-many relationship table featuring movies and actors that apear in that movie. 
    </h3>
        
</div>

<section class="site-section-bottom" id="skip-to-content">
    <div class="bg-img bg-center-center" style="background-image: url( '../img/quadaerial01_1920.jpg' );">
    </div> <!-- .bg-img -->
</section>