@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>I dont think I'm collecting your data but like I might be on accident. I'm very sorry.</h3>

<section class="site-section-bottom" id="skip-to-content">
    <div class="bg-img bg-center-center" style="background-image: url( '../img/kittycat.jfif' );">
    </div> <!-- .bg-img -->
</section>